
<h2>{{titulo}}</h2>

  <form #formProducto="ngForm" (ngSubmit)='onSubmit()' id="form-producto" class='col-lg-6'>

    <label>Nombre <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">El nombre es obligatorio</span></label>

    <input type='text' #nombre='ngModel' name='nombre' [(ngModel)]='producto.nombre' class='form-control' required/>


    <label>Descripción <span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger">El descripcion es obligatorio</span></label>
    <textarea #descripcion='ngModel' name='descripcion' [(ngModel)]='producto.descripcion' class='form-control' required></textarea>

    <label>Precio <span *ngIf="!precio.valid && precio.touched" class="label label-danger">El precio no es correcto</span> </label>
    <input type='number' #precio='ngModel' name='precio' [(ngModel)]='producto.precio' class='form-control' required pattern="[0-9]+"/>


    <label>Imagen</label>
    <input type='file' class='form-control' (change)="fileChangeEvent($event)" />
    <!-- Si estamos en edición se mostrará la imagen -->
    <br>
    <div *ngIf="is_edit">
      <img class="img-responsive" src="http://localhost:8888/curso-angular6-webapp/cursoAngular6-backend/uploads/{{producto.imagen}}"/>
    </div>

    <br>
    <input type='submit' value='{{titulo}}' [disabled]="!formProducto.valid" class='btn btn-success' />

  </form>

<!--

EJEMPLO DE VALIDACIÓN MÚLTIPLE CON VARIAS OPCIONES

<input type="text" id="name" class="form-control"
       required minlength="4" maxlength="24"
       name="name" [(ngModel)]="hero.name"
       #name="ngModel" >

<div *ngIf="name.errors && (name.dirty || name.touched)"
     class="alert alert-danger">
    <div [hidden]="!name.errors.required">
      Name is required
    </div>
    <div [hidden]="!name.errors.minlength">
      Name must be at least 4 characters long.
    </div>
    <div [hidden]="!name.errors.maxlength">
      Name cannot be more than 24 characters long.
    </div>
</div>

-->
